/*--- global ---*/
* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --brown: rgb(34, 16, 1);
    --general-font-family: 'Bona Nova', serif;
    --logo-font-family: 'Ballet', cursive;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(../background-images/thumbnail.jpg);
    background-position: 55em 225em;
    background-size: 128em 138em;
} 

/*---------- navbar ---------*/
.navbar-wrapper {
    height: 120px;
    width: 100%;
    padding: 0 1em;
}

.navbar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title h1 {
    padding: 0.2em 0 0 0.5em;
    font-size: 3.7vw;    
    font-family: var(--logo-font-family);
    font-style: italic;
    font-weight: 100;
    color: var(--brown);
    text-shadow: 1px 0px 1px rgba(0,0,0,0.3), 2px 1px 1px rgba(0,0,0,0.1);
    letter-spacing: 8px;
    word-spacing: 0.7em;
}

.navbar-links ul {
    display: flex;
    list-style: none;
}

.navbar-links a {
    padding-left: 3em;
    font-size: 1.03em;
    font-family: var(--general-font-family);
    color: var(--brown);
    text-shadow: 1px 0px 1px rgba(0,0,0,0.3), 2px 1px 1px rgba(0,0,0,0.1);
    text-decoration: none;
}

.navbar-links a:hover {
    font-size: 1.1em;
    text-shadow: 1px 0px 1px rgba(0,0,0,0.3), 2px 1px 1px rgba(0,0,0,0.3);
    text-decoration: underline;
    transition: all 0.01s linear;
}

/*---- ABOUT dropdown ----*/
.dropdown-content {
    display: none;
    font-size: 1.06em;
    padding: 0.3em;
}

.dropbtn {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    font-family: var(--general-font-family);
    padding: 0em;
    font-size: 1.1em;
}

/*---- logo ----*/
.logo-res {
    display: none;
}

/*--------------- MAIN --------------*/
.wrapper {
    display: flex;
    flex-direction: column;
}

.opera-wrapper, .concert-wrapper {
    width: 100%;
}

.opera-wrapper {
    background: linear-gradient(rgba(197, 194, 177, 0), rgba(255, 255, 255, 0.7)), url(../background-images/fav22.jpg);
    background-size: cover;
    background-position: center;
}

.concert-wrapper {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../background-images/fav22.jpg);
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
} 

.concert-wrapper table {
    transform: scaleX(-1);
}

table {
    width: 100%;
    padding: 0 1em 1em 1em;
    font-family: var(--general-font-family);
   /* background-color: rgba(0, 0, 0, 0.4);*/
   /* background:linear-gradient(rgba(90, 65, 26, 0.2), rgba(0, 0, 0, 0.2));*/
}

h2 {
    padding: 2em;
    font-size: 2.5em;
    font-family: 'Playfair Display SC', serif;
    color: rgb(20, 10, 1);
    box-shadow: rgba(255, 255, 255, 0.6) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.4) 0px 18px 36px -18px inset; 
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 15px;
}
 
th {
    padding: 2em 1em;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 0px 1px rgba(0,0,0,0.1), 2px 1px 1px rgba(0,0,0,0.1);
    letter-spacing: 10px;
    border-bottom: 1px dotted black;
   /* box-shadow: rgba(0, 0, 0, 0.5) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.4) 0px 18px 36px -18px inset; */ 
  }

td {
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 600;
   /* border-bottom: 1px inset rgba(255, 255, 255, 0.3);*/
}

#border {
    border-bottom: 1px dotted black;
}

  /*---------------- responsive navbar ----------------*/
/*--- button --*/
.nav-toggle-btn {
    padding: 0.5em;
    margin-top: 1em;
    font-size: 1.7em;
    font-weight: 100;
    color: var(--brown);
    cursor: pointer;
    display: none;
 }

 /*-------- responsive --------*/
 @media screen and (max-width:1230px) {
    .navbar-links ul {
        justify-content: flex-end;
    }
    .navbar-links a {
        padding-left: 1em;
    }
    .navbar-title h1 {
        padding-top: 0.1em;
        font-size: 3.6vw;
        font-weight: 500;
        white-space: nowrap;
        text-shadow: 1px 0px 1px rgba(0,0,0,0.9), 2px 1px 1px rgba(0,0,0,0.1); 
    }
 }

 @media screen and (max-width:1150px) {
    .navbar-title h1 {
        letter-spacing: 4px;
        word-spacing: 0.3em;
    }
 }

 @media screen and (max-width:820px) {
    .opera-wrapper {
        background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url(../background-images/fav22.jpg);
        background-size: cover;
        background-position: center;
    } 
    .navbar-links ul {
        justify-content: space-evenly;
         }
    .navbar-links {
            width: 100%;
     }
    .navbar-title h1 {
         display: none; 
     }   
    h2 {
        box-shadow: rgba(255, 255, 255, 0.8) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.4) 0px 18px 36px -18px inset;
    } 
}

@media screen and (max-width:680px) {
    /*--- hide html overflow ---*/
     .hidde {
       overflow: hidden;
   }
   body {
    background: url(../background-images/thumbnail.jpg);
    background-position: 53em 225em;
    background-size: 128em 138em;
   }

 h2 {
     padding: 1.5em;
     font-size: 2em;
     white-space: nowrap;
 }
 table {
     padding: 0.5em;
 }
 th {
     padding: 2em 0;
     font-size: 1em;
 }
 td {
     padding: 0.1em;
     font-size: 1em;
 }
   /*---- toggle button ----*/
.nav-toggle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0.8em;
} 
/*---- navlist-new ----*/ 
.navbar-container {
    width: 100%;
}
.nav-list {
     z-index: 100;
     display: none;
     border: 1px solid white;
     position: absolute;
     top: 5.3em;
     letter-spacing: 5px;
     width: 100%;
     height: 91%;
     padding: 0;
    }
    .navbar-links {
        height: 100%;
    }
    .navbar-links ul {
        flex-direction: column;
        height: 100%;
        background-color: rgba(0,0,0,0.95);
        justify-content: space-evenly;
        align-items: center;
       }
       .navbar-links ul li, .navbar-links ul .dropbtn {
        background: transparent;
        width: 100%;
        text-align: center;
       }
       .navbar-links a {
       color: #fff;
       display: block;
       padding: 0.5em;
    }
       .navbar-links a:hover {
        background: rgba(255, 255, 255, 0.3);
        text-decoration: none;
    }
    /*---- new-logo ----*/
    .logo-res {
        display: inline-block;
        font-size: 33px;    
        font-family: var(--logo-font-family);
        font-style: italic;
        font-weight: 500;
        color: var(--brown);
        text-shadow: 1px 0px 1px rgba(0,0,0,0.5), 2px 1px 1px rgba(0,0,0,0.1);
        padding-top: 0.1em;
        letter-spacing: 0.06em;
        word-spacing: 1em;
    }
    .show-nav-list {
     display: flex;
 }
 .opera-wrapper, .concert-wrapper {
    width: 100%;
}
}

@media screen and (max-width:430px) {
    body {
        background-position: 69em 266em;
    }
    .nav-list {
        height: 100%;
    }
    .logo-res {
        font-size: 8vw;
        word-spacing: 0.5em;
    }
    .nav-toggle-btn {
        font-size: 1.4em;
    }
    .dropdown {
        display: flex;
        flex-direction: column;
    }
    .dropdown-content a {
        font-size: 15px;
        padding: 0;
        margin-top: 2.5em;
    }
    h2 {
        font-size: 1.3em;
        word-spacing: 0;
    }
}